main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bad-design-container {
    background-color: whitesmoke;
    height: 30rem;
    width: 30rem;
    border: .2em solid black;
    box-shadow: 0 4px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bad-design-container p, h2 {
    text-align: center;
    padding: 0 .5em 0;
}

button {
    height: 3em;
    width: 8em;
    font-weight: bold;
    color: white;
    background-color: #F28B82;
    transition: ease 1.5s;
}

button:hover {
    background-color: #B22222;
}